@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), system-ui, sans-serif;
}

.ProseMirror {
  font-size: 16px;
  line-height: 1.7;
  padding: 8px;
}

.ProseMirror img {
  border-radius: 16px;
  margin: 16px 0;
}

.ProseMirror p {
  margin: 12px 0;
}

